
@font-face {
    font-family: 'MarkPro';
    src: local('MarkPro') format('embedded-opentype');
    src: url('../font/Fontmarkpro/MarkPro.otf') format('embedded-opentype'),
     url('../font/Fontmarkpro/MarkPro-Black.otf') format('embedded-opentype'),
     url('../font/Fontmarkpro/MarkPro-BlackItalic.otf') format('embedded-opentype'),
     url('../font/Fontmarkpro/MarkPro-Bold.otf') format('embedded-opentype'),
     url('../font/Fontmarkpro/MarkPro-BoldItalic.otf') format('embedded-opentype'),
     url('../font/Fontmarkpro/MarkPro-Book.otf') format('embedded-opentype'),
     url('../font/Fontmarkpro/MarkPro-BookItalic.otf') format('embedded-opentype'),
     url('../font/Fontmarkpro/MarkPro-ExtraLight.otf') format('embedded-opentype'),
     url('../font/Fontmarkpro/MarkPro-ExtraLightItalic.otf') format('embedded-opentype'),
     url('../font/Fontmarkpro/MarkPro-Hairline.otf') format('embedded-opentype'),
     url('../font/Fontmarkpro/MarkPro-HairlineItalic.otf') format('embedded-opentype'),
     url('../font/Fontmarkpro/MarkPro-Heavy.otf') format('embedded-opentype'),
     url('../font/Fontmarkpro/MarkPro-HeavyItalic.otf') format('embedded-opentype'),
     url('../font/Fontmarkpro/MarkPro-Italic.otf') format('embedded-opentype'),
     url('../font/Fontmarkpro/MarkPro-Light.otf') format('embedded-opentype'),
     url('../font/Fontmarkpro/MarkPro-LightItalic.otf') format('embedded-opentype'),
     url('../font/Fontmarkpro/MarkPro-Medium.otf') format('embedded-opentype'),
     url('../font/Fontmarkpro/MarkPro-MediumItalic.otf') format('embedded-opentype'),
     url('../font/Fontmarkpro/MarkPro-Thin.otf') format('embedded-opentype'),
     url('../font/Fontmarkpro/MarkPro-ThinItalic.otf') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
  }