@import "variables";
.ftr {
    border-top: 1px solid #E6E6E6;
    padding-top: 32px;
    margin-top: 104px;
    ul {
    li {
        font-family: 'Mark Pro';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        color: #808080;
        h4 {
            font-family: 'Mark Pro';
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 28px;
            color: #000000;
        }
    }
}
&__btn {
    width: 151px;
    height: 40px;
    background: #000000;
    color: white;
}
&__text {
    width: 384px;
    height: 48px;
    font-family: 'Mark Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #808080;
}
&__title {
    width: 384px;
    height: 28px;
    font-family: 'Mark Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 28px;
    color: #000000;
}
&__email {
    width: 384px;
}
&__list {
    margin-bottom: 40px;
    ul:nth-child(1){
        padding-left: 0;
    }
    li {  
        margin-bottom: 8px;
        min-width: 176px;
        height: 24px;
        font-family: 'Mark Pro';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        color: #808080;
    }
}
&__copyright {
    padding: 8px;
    background-color: $color-black2;
    p {
        height: 24px;
        left: 112px;
        top: 8px;
        font-family: 'Mark Pro';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        color: #FFFFFF;
        margin-bottom: 0;
    }
}
}