@import "font";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
* li {
    list-style: none;
}
* {
    font-family: "MarkPro";
}
body {
    overflow-x: hidden;
}
* a {
    text-decoration: none;
}